body {
    z-index:0;
    background:linear-gradient(to bottom, #141414, #363636 );
      height:2300px;
      width:1700px;
  }
  .main {
      display:block;
      margin-right:auto;
      margin-top:auto;
      margin:auto;
      width:100%;
  }
  .top {
      z-index:3;
      position:relative;
      background-color: #d83227;
      height: 55px;
      width: 100%;
      }
    .top:hover {
      background-color:#4636BB;
      transition-duration:.2s;
    }
  .me {
      z-index:1;
      position:relative;
      display: block;
      margin-left: 800px;
      margin-top:110px;
      width: 630px;
      transition-duration:.3s;
      }
  .me:hover {
      transform:scale(1.04);
      }
  .name {
      z-index:2;
      position:relative;
      flex-wrap:wrap;
      margin-left:390px;
      margin-top:-576px;
          }
  #colors {
      width:300px;
      font-size:85px;
      font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      animation:color-animation 2s infinite alternate;
      }
  @keyframes color-animation {
      0% { color: #4636BB; }
      50% { color:#CCCCCC; }
      100% { color: #ca1b0f; }
      }
  #motto {
      width:28%;
      color: #DDDDDD;
      font-size:35px;
      font-family:  candara, sans-serif;
      margin-left:8px;
      text-shadow: -1.5px 0 #4636BB, 0 1.5px #4636BB, 1.5px 0 #4636BB, 0-1.5px #4636BB;
      }
  .buttonbox {
    z-index:4;
    position:relative;
    margin-left: 1280px;
    margin-top:-618px;
    transform:scale(0.9); 
  }
  .thelinks {
    font-weight:bold;
    width: 95px;
    padding:8px;
    color: #EEEEEE;
    background: linear-gradient(to bottom, rgb(82, 99, 250) 0%,rgb(180, 37, 37) 100%);
    font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:14.5px;
    border:rgb(233, 233, 233) solid 1.5px;
    border-radius:6px;
    cursor:pointer;
  }
  .bottom {
    width:100%;
    z-index:3;
    position:relative;
    background-color: #d83227;
    height: 200px;
    margin-top:2100px;
    padding:0;
  }
    .bottom:hover {
      background-color:#4636BB;
      transition-duration:.2s;
    }
    .thelinks:hover {
      cursor:pointer;
      background:linear-gradient(to bottom, rgb(192, 117, 235), rgb(248, 178, 138));
      color:black;
      transform:scale(.9);
    }